#footer {
    display: grid;
    background-color: black;
    position: relative;
    padding: 0.5rem;
    grid-template-columns: 150px 50px;
    justify-content: center; }

#footer h3 {
    color: white;
    text-align: center;
    padding: 0%; }