div .cachi {
    width: 20rem;
    height: 20rem; }
  
div .tequila {
    width: 20rem;
    height: 20rem; }
  
div .wisky {
    width: 20rem;
    height: 20rem; }
  
div .quienes-somos {
    width: 25rem;
    height: 25rem; }
  
div .que-hacemos {
    width: 25rem;
    height: 25rem; }
a img {
    width: 100%; }
      